/* 공통 */
body {min-height:100vh !important; padding:0 !important;}
footer {width:100%;position: fixed; bottom:0;}
body, footer {float:none !important;margin:auto;padding:0;}
#container {width:100%; padding:0;}

/* GNB */
#gnbNavBar {display:flex;width:100%;position:sticky;color:white;flex-wrap:wrap;padding:0;min-height:unset;border:unset;margin-bottom:0;}
#gnbNavBar .navMenu {font-size:3rem;display:flex;align-items:center;justify-content:center;flex-basis: 0;flex-grow:1;height:5vh;border-right:1px solid white;}
#gnbNavBar .navMenu.on {background-color:#eeeeee;color:black;}

/* Footer */
#footerBar {display:flex;width:100%;position:absolute;color:white;bottom:0;flex-wrap:wrap;padding:0;min-height:unset;border:unset;margin-bottom:0;}
#footerBar .footerMenu {font-size:3rem;display:flex;align-items:center;justify-content:center;flex-basis: 0;flex-grow:1;height:5vh;border-right:1px solid white;}
#footerBar .footerMenu.on {background-color:#eeeeee !important;color:black;}
#footerBar .footerMenu:hover {background-color:#555555;cursor:pointer;}

/* 로그인, 회원가입폼 */
.loginFormDiv {height:100vh; background-color:#c3c3e2; display: table;}
.loginFormDiv #loginForm {width: 100%;display: table-cell;vertical-align: middle;}
.loginFormDiv #loginForm>div {text-align: center;}
.loginFormDiv #loginForm .loginLogo {font-size: 10rem; position: absolute;top:10rem;width:100%;}
.loginFormDiv #loginForm .loginInfo .loginFormBtn {font-size:2rem; font-weight: bold;}
.loginFormDiv #loginForm .loginInfo > input {width:60%;height:5rem; margin-bottom: 0.5rem;}

/* friendListForm */
#friendListForm ul {padding:0;}
#friendListForm .friends {list-style:none;height:5rem;display:flex;align-items:center;}
#friendListForm .friends .friends-profile {width:4rem;height:4rem;}
#friendListForm .friends .friends-id {margin-left: 2rem;}