<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{common/fragments/Header :: header}"></head>

<body>
<div id="wrapper" class="col-lg-6 col-md-8 col-sm-12" style="float:none;margin:auto;min-height:100vh;">
	<!-- GNB -->
	<div th:replace="~{common/fragments/Gnb :: gnb}"></div>
	<!--// GNB -->

	<!-- CONTENT AREA -->
	<div>
		<th:block layout:fragment="content"></th:block>
	</div>
	<!-- // CONTENT AREA -->
</div>
<th:block th:replace="~{common/fragments/LastBody :: lastBody}"></th:block>
</body>
</html>
